

h1 {

font-family: 'Bungee Inline', cursive !important;

background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    color-stop(0.03, rgb(250,3,3)),
    color-stop(0.52, rgb(240,255,127)),
    color-stop(0.76, rgb(42,24,173))
);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

body {

	background-image: url("../images/Space.jpg")
}

#good {
	background-color: rgba(0,0,255,0.5);
	color: white;
    height: 350px;
    /*width: 350px;*/
}

#bad {
	background: red;
	color: white;
}

div.transbox {
    height: 350px;
    align-content: center
    /*background-color: #ffffff;*/
    border: 1px solid black;
    opacity: 0.4;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}

#lineup {
	height: 400px;
}

section {
    /*width: 100px;*/
    /*position: inline;*/
    margin: 5px;
    background: black;
}

.sectionspecs {
    max-height: 100px;
    width: 100%;
    /*padding: 21px;*/
    /*border: 100px;*/
    background: black;
    /*float: left;*/
    position: left;
    /*margin-top: 6px;*/
    /*margin-top: 10px;*/
   /* padding-top: 10px;*/
    margin-right: 0px;
    /*text-decoration-line: 5px;*/
}


